/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #a1a0a0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(235, 206, 206);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }